@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Orbitron");
body{
  background-image:  linear-gradient(315deg,  rgba(43, 65, 98, 0.2),
      rgba(18, 16, 14, 1.0)), url(https://i.pinimg.com/originals/72/e8/68/72e868cbd04cc88949a183e36d553a51.jpg);
   background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 80%;
  background-attachment: fixed;
  display:flex;
  justify-content:center;
  flex-direction:column;
  text-align:center;
  margin-top: 15%;
}
#txt{
   display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
    color: white;
    font-size: 100px;
    font-family: Orbitron;
    letter-spacing: 7px;
  
}
#text,#text2{
color:white;
 font-style: italic;
  font-family:Montserrat;
}

#text { 
  animation: showup 4s;
 
}

#text2 {
  animation: showup 6s;

}



@keyframes showup {
    0% {opacity:0;}
  50%{opacity:0;}
    100% {opacity:1;}
   
}